input[type=text] {
    background-color: #1E1E1E;
    width: 22rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
}

input[type=checkbox] {
    cursor: pointer;
    margin-right: 0.5rem;
}

select {
    cursor: pointer;
    font-weight: bold;
    padding: 0.2rem;
    background-color: #1E1E1E;
}

#menu {
    -webkit-user-select: none;
    user-select: none;
    align-self: center;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #121212;
}

#criar {
    display: flex;
    width: 30rem;
    flex-direction: column;
    gap: 0.5rem;
}

#formCriar {
    display: flex;
    width: 95%;
    align-self: center;
    flex-direction: column;
    gap: 0.5rem;
}

#formCriar textarea {
    resize: none;
    border: none;
    font-size: larger;
    outline: none;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #1E1E1E;
}

#formCriar textarea::-webkit-scrollbar {
    width: 10px;
}

#formCriar textarea::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
}

#formCriar textarea::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 20px;
}

#btns {
    align-self: flex-end;
}

#btnCriar, #btnResetar, #btnResponder {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #1E1E1E;
}

#btnCriar:hover, #btnResetar:hover, #btnResponder:hover {
    cursor: pointer;
    background-color: red;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#simulado {
    display: flex;
    width: 30rem;
    flex-direction: column;
    gap: 0.5rem;
}

#btnResponder {
    margin-top: 0.5rem;
}

@media(max-width:1280px) {
    #menu {
        flex-direction: column;
    }
    #criar, #simulado {
        width: 28rem;
    }
    h1 {
        font-size: x-large;
    }
}